@font-face {
  font-family: Roboto;
  src: url('fonts/Roboto.ttf');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: PT-Serif;
  src: url('fonts/PT-Serif.ttf');
  font-weight: bold;
  font-display: swap;
  font-style: normal;
}
