@media all and (min-width: 1080px){
  .hat__logo {
    margin-top: 31px;
    margin-left: 189px;
  }

  .hat {
    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }

  .hat__startsign {
    margin-top: -26px;
    margin-left: 1334px;
  }

  .hat__servicessign {
    margin-top: -20px;
    margin-left: 1397px;
  }

  .hat__aboutsign {
    margin-top: -20px;
    margin-left: 1490px;
  }

  .hat__blogsign {
    margin-top: -20px;
    margin-left: 1563px;
  }

  .hat__contactssign {
    margin-top: -20px;
    margin-left: 1626px;
  }

  .main__title {
    font-family: PT-Serif;
    font-weight: bold;
    font-size: 66px;
    line-height: 87px;
    display: flex;
    align-items: center;
    width: 567px;
    margin-top: 247px;
    margin-left: 187px;
  }

  .main__markerfrst {
    background: #ECF3FF;
    width: 497px;
    height: 69px;
    margin-top: -160px;
    margin-left: 187px;
  }

  .main__markerscnd {
    background: #ECF3FF;
    width: 296px;
    height: 70px;
    margin-top: 19px;
    margin-left: 187px;
  }

  .main__subtitle {
    font-family: Roboto;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    width: 455px;
    margin-top: 40px;
    margin-left: 187px;
  }

  .main__schedulesign {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.2px;
    line-height: 21px;
    margin-top: 62px;
    margin-left: 210px;
    color: #FFF;
  }

  .main__markerblu {
    width: 270.75px;
    height: 57px;
    background: #0056EC;
    border-radius: 4px;
    margin-top: -40px;
    margin-left: 188px;
  }

  .main__image {
    margin-top: -520px;
    margin-left: 942px;
  }
}
